@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Light:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext');

@grid-gutter-width: 30px;

@primary-color: #262c35;
@primary-color-1: #0ba986;

@layout-body-background: #ffffff;
@body-background: #ffffff;
@background-color-base: #ffffff;
@layout-header-background: #1e2428;
@border-color-base: #0ba986;

@font-size-base: 15px;
@heading-color: #1e2428;
@text-color: #283035;
@text-color-secondary: #1e2428;
@font-family: 'Roboto';
@font-family-no-number: 'Roboto';

@link-color: #0ba986;
@link-active-color: #0ba986;
@link-hover-color: rgb(16, 138, 111);
@link-hover-decoration: #0ba986;
@link-decoration: #0ba986;

@item-hover-bg: #0ba986;
