node_modules/
build/
packages/kauri-web/config/local*
static/workbox/
npm-debug.log
.next
.DS_Store
yarn-error.log
package-lock.json
client-secret.json
._client-secret.json
github_deploy_key
._github_deploy_key
credentials.tar.gz
bundles
.fliphub
packages/kauri-components/lib/bs
packages/kauri-web/lib/bs
packages/kauri-web/lib/kauri-components
lerna-debug.log
lerna-error.log
*.bs.js
.merlin
bs-ppx-css
.bsb.lock
esy.lock
Dockerfile-local
yarn.lock
package.json