node_modules/
build/
config/local*
static/workbox/
npm-debug.log
.next
.DS_Store
yarn-error.log
package-lock.json
client-secret.json
._client-secret.json
credentials.tar.gz
bundles
.fliphub
packages/kauri-components/lib
lerna-debug.log
lerna-error.log
*.bs.js
.merlin
bs-ppx-css
.bsb.lock